<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Cracker</title>
</head>
<body>
<form action="/" method="POST">
  <h1>SUBMIT A MD5 PASSWORD</h1>
  <p>MD5 Hash: <input type="text" name="hash" required /></p>
  <p>
    Number of Worker Nodes to Use(Between 1 and 4):
    <input type="number" name="workers" required min="1" max="4" />
  </p>
  <p><input type="submit" value="Submit" /></p>
    {% if cracked %}
        <p>Cracked Password: {{cracked}}</p>
        <p>Time: {{time}}</p>
    {% else %}
        <p></p>
    {% endif %}
</form>
</body>
</html>